@import "tailwindcss";

@layer components {
  .Header {
    @apply text-[40px] font-semibold text-[#161723] tracking-[0.25px]
}
 .OrangeNum{
    @apply text-[#EE6F4B] text-[33px] font-bold w-[33px]
 }
 .ListPoints{
    @apply flex items-center space-x-12
 }
}